/* Setup */
@import './setup/vars.css';
@import './setup/font-face.css';

/* Basic */
@import './basic/base.css';
@import './basic/icons.css';
/* @import './basic/icons.css'; */
@import './basic/helpers.css';
@import './basic/layout.css';

/* Cmps */
@import './cmps/header.css';
@import './cmps/imgs-gallery.css';
@import './cmps/editor.css';
@import './cmps/about.css';
/* @import './cmps/footer.css'; */



/* COMPONENTS */
body{
  border: 1px solid var(--clr1);
}






footer{
  /* width: 100vw; */
  height: 207px;
  background-color: var(--clr3);
}

 /* .add-line{
width: 20px;
height: 20px;
 } */