.main-layout > *:not(.full) {
  /* max-width: 980px; */
  max-width: var(--s);
  margin-left: auto;
  margin-right: auto;
}

 @media (min-width: 400px) {
  .main-layout > *:not(.full) {
    max-width: var(--s);
  }
} 

@media (min-width:800px) {
  .main-layout > *:not(.full) {
    max-width: var(--m);
  }
} 

@media (min-width: 1100px) {
  .main-layout > *:not(.full) {
    max-width: var(--l);
  }
}