
/* GALLERY */

.filters{
  background-color: blueviolet;
  margin-bottom: 1rem;
  height: 4vh;
}

.image-container{
  display: block;
  background-color:var(--clr4); 
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem ;
  overflow: hidden;
} 

.imgs-gallery{
  display: grid;
  grid-template-columns: 1fr ;
  gap: 0.3rem;
  justify-items: center;
  
}

.img{
  width:400px; 
  height: 290px; 
  object-fit:cover;
}


@media (min-width: 600px) {

  .imgs-gallery{
    grid-template-columns: repeat(2,1fr ) ;
    gap: 0.3rem;
  }
  .img{
    width:197.5px;
    height: 180px;
  }
} 
  
@media (min-width: 800px) {

  .img{
    width:350px;
    height: 255px;
  }
} 
  

@media (min-width:1100px) {

  .image-container{
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem ;
  }
  .imgs-gallery{
    grid-template-columns: repeat(3,1fr ) ;
    gap: 0.8rem;
  }
  .img{
    width:305px;
    height: 250px;
  }
} 

